// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .film_index {
//   max-width: 700px;
// }

#films_all {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.commentary {
  font-size: 0.9rem;
  padding-bottom: 15px;
}

#ransack_form {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: right;
}

.ransack_item {
  padding-bottom: 8px;
}

#films_index {
  font-size: 0.9rem;
}
table {
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.sticky_table {
  display: block;
  position: relative;
  overflow: scroll;
  width: calc(100vw - 3.0rem);
  /* width: 100%; */
  height: calc(70vh);
  border-collapse: collapse;
  border: solid 1px #9C9C9C;
  font-size: 0;
  margin-bottom: 30px;
}
/* /* */
.sticky_table thead,
.sticky_table tbody {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-collapse: collapse;
  border: solid 1px #9C9C9C;
}

.sticky_table th,
.sticky_table td {
  display: inline-block;
  width: 8.0rem;
  background: #fff;
  font-size: 0.9rem;
}

.sticky_table tbody th {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

.sticky_table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sticky_table thead th.blank {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

#film_show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.film_item {
  padding-bottom: 30px;
}
.film_item {
  font-size: 0.9rem;
}
.item_detail {
  font-size: 1rem;
  font-weight: bold;
}

.booking_or_release {
  color: #ff4500;
  width: 300px;
  text-align: left;
  // border-radius: 0.98rem;
  // text-align: center;
  font-size: 0.95rem;
  font-weight: bold;
  padding-bottom: 20px;
}
