// Place all the styles related to the RightHolders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#right_holder_show {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.right_holder_item {
  padding-bottom: 30px;
}
.item_label {
  font-size: 0.9rem;
}
.item_detail {
  font-size: 1rem;
  font-weight: bold;
}
